PRIVATE_KEY=""
CHAIN_ID=
# if validator address is configured, script claims only validator
VALIDATOR_ADDRESS=""
IS_PRIMARY_FULL_NODE="" # 0 or 1
ETH_RPC=
MATIC_RPC=
CONSIDER_PREVIOUS_PRICE="" # 0 or 1